<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19statistics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/mycustomicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mycustomicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DistrictDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StateDataActivity" />
        </activity>
        <activity android:name=".StateDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>